//
// Application styles
// --------------------------------------------------


.x-piece-side {
  fill: #d03c66;
}

.x-piece-bottom {
  fill: #eb3f68;
}

.x-piece-front {
  fill: #CA3A62;
}


.o-piece-front {
  fill: transparent;
  stroke: #2332D8;
}

.o-piece-side {
  fill: transparent;
  stroke: #5363f3;
}


.plane-top {
  fill: #14dcd8;
}


.plane-bottom {
  fill: #4736ff;
}

.backdrop {
  fill: #211F1F;
}


.square-button-layer {
  fill: transparent;
}


.square-button-layer:hover {
  cursor: pointer;
  fill: red;
}